li
{
	display: inline;
	padding-right: 5px;
	padding-left:0px;
	float: right;
	padding-bottom: 0PX;
	font-size: 20px
	
}
.container_12
{
	background-color: #AAA09D;
	padding-top: 25px;
	height: 30%;
	

}
header
{
	/*background-color: yellow;*/
}
.container_12 .grid_4
{
	height:70px;
}
.part1
{
	background-color: grey;
	padding-top: 50PX;
}
img
{
	width:960px;
	height:400px;
}
h1
{
	font-size: 40px;
}
.part2
{
	background-color: #776662;
	padding-top: 50PX;
}
}
